body {
	height: 100%;
	font-size: 11pt;
}

p {
	margin-bottom: 10px;
}

.wrapper {
	width: 850px;
	margin: 0 auto;
}
.wrapper > header {
	position: relative;
	width: 100%;
	float:left;
}
header nav {
	position: absolute;
	right: 0;
	top: 0;
}

header nav ul {
	
}

header nav ul a {
	text-decoration: none;
	color: #32679B;
	font-size: 9pt;
}

header nav ul li {
	float: left;
    padding: 10px;
	border-radius: 10px;
}

header nav ul li:hover {
	background-color: #32679B;
}

header nav ul li:hover a {
	color: #EF7940;
}

header .logo {
	float:left;
	width: 260px;
	padding: 10px 20px;
	text-decoration:none;
}
header .logo img {
	width:250px;
}

header .logo span {
	font-size: 7pt;
	padding-left: 5px;
	color: #32679B;
}

section.side {
	float: left;
	width: 260px;
	padding: 15px 20px;
}

section.main-content {
	width: 530px;
	padding: 15px 10px;
	float: right;
}

.find-us {
	background-color: #F7B494;
	border: 1px solid #9B4015;
	color: #9B4015;
	width: 238px;
	padding: 5px;
	margin-bottom: 10px;
}

.welcome h1 {
	color: #32679B;
	font-size: 25pt;
}
