/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 
	END RESET CSS
*/

body {
	width: 300px;
	background-color: #F7E094;
	padding: 5px;
	color: #103B65;
}

header .logo {
	display: block;
    text-align: center;
	padding-bottom: 5px;
	border-bottom: 1px solid #000000;
	margin-bottom: 5px;
}

header .logo img {
	width: 200px;
}

header .logo span {
	display: none;
}

nav {
	
}

nav ul li {
	text-align: center;
	padding: 5px;
	margin-bottom: 5px;
	background-color: #395774;
	width: 130px;
	float: left;
	margin-right: 10px;
}

nav ul li a {
	text-decoration: none;
	color: #F7D76F;
}

.find-us {
	color: #103B65;
	width: 298px;
	padding: 5px;
	margin-bottom: 5px;
}

.find-us span {
	display: block;
	width: 250px;
}

.find-us .map {
	float:	right;
	width: 50px;
	height: 50px;
	background-image: url(../images/maps.png);
	margin-right: 10px;
}

.find-us .address {
	margin-top: 5px;
}

.wrapper .fb-like-box {
	display: none;
}