/* Resets */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 
	END RESET CSS
*/


/* Structure */

body {
	color: #103B65;
	background: url("../images/backgrounds/linen.jpg") repeat scroll left top #ECE8D3;
}

.clear {
	clear: both;
}

.wrapper {
	width: 310px;
	margin: 0 auto;
	padding: 5px;
}

header {
	width: 100%;
	float: left;
	/* Fallback for web browsers that doesn't support RGBa */
	background: none;
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.8);
}

header .logo {
	float: left;
	margin-right: 10px;
}

header .logo img {
    width: 160px;
}

header .logo span {
	display: none;
}

nav {
	width: 110px;
	float: right;
	margin-right: 10px;
}

nav ul {
	display: none;
}

/* Global elements */

.find-us {
	float: right;
	width: 110px;
	margin-right: 10px;
	margin-top: 5px;
	position: relative;
}

.find-us .details {
	display: none;
	color: white;
	width: 300px;
	padding: 10px;
	position: absolute;
	top: 48px;
	right: -15px;
    z-index: 3000;
	background: rgba(0, 0, 0, 0.8);
}

.find-us .icon {
	width: 35px;
	height: 48px;
	float: left;
	cursor: pointer;
	margin-bottom: -5px;
}

.find-us .map {
}

.find-us .facebook {
	margin-left: 15px;
}

.find-us .facebook .details {
	min-height: 100px;
}

.find-us .facebook .fb-like-box {
	background-color: white;
}

.flexslider {
	margin-bottom: 35px;
}

.slides li {
	height: 150px;
	overflow-y: hidden;
}

.slides .text {
	padding: 10px;
	font-size: 9pt;
}

.slides h1 {
	font-weight: bold;
	font-size: 18pt;
	width: 95%;
}

.slides p {
	margin: 6px 0;
    text-indent: 15px;
    width: 95%;
}

.slides p.first {
	text-indent: 0px;
}

/* Visual media */

/* Article structure */

/* Forms */

/* Tables */

/* Reusable */


